{% extends '::base.html.twig' %}

{% block body -%}
<ul class="pager">
    <li class="previous disabled"><a href="javascript:history.go(-1)">&larr; previous page</a></li>
</ul>
<legend class="well"><center>New Email</center></legend>
<div class = 'form-group'>
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="col-lg-10">
            {{ form_label(form.emailAddress, 'Email Address: ') }}
            {{ form_errors(form.emailAddress) }}
            {{ form_widget(form.emailAddress, { 'attr': {'class': 'form-control'} }) }}
            <br>
        </div>

        <br>
        <div class="col-lg-10">
            {{ form_label(form.emailType, 'Email Type: ') }}
            {{ form_errors(form.emailType) }}
            {{ form_widget(form.emailType, { 'attr': {'class': 'form-control'} }) }}
            <br>
        </div>

        <br>
        <div class="col-lg-10">
            {{ form_label(form.user, 'User: ') }}
            {{ form_errors(form.user) }}
            {{ form_widget(form.user, { 'attr': {'class': 'form-control'} }) }}
            <br>
        </div>

        <div class="col-lg-10">
            {% block submit %}
                {{ form_widget(form.submit, { 'label': 'Create new Email', 'attr': {'class':'btn btn-success'} }) }}
            {% endblock %}
        </div>
        <br>

        {{ form_end(form) }}



        {% endblock %}


