{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="pager">
        <li class="previous disabled"><a href="javascript:history.go(-1)">&larr; previous page</a></li>
    </ul>
    <legend class="well"><center>New Address</center></legend>
    <div class = 'form-group'>
    <div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-lg-10">
        {{ form_label(form.city, 'City: ') }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
        <br>
    </div>

    <br>
    <div class="col-lg-10">
        {{ form_label(form.street, 'Street: ') }}
        {{ form_errors(form.street) }}
        {{ form_widget(form.street, { 'attr': {'class': 'form-control'} }) }}
        <br>
    </div>

    <br>
    <div class="col-lg-10">
        {{ form_label(form.houseNumber, 'House Number: ') }}
        {{ form_errors(form.houseNumber) }}
        {{ form_widget(form.houseNumber, { 'attr': {'class': 'form-control'} }) }}
        <br>
    </div>
    <br>
    <div class="col-lg-10">
        {{ form_label(form.flatNumber, 'Flat Number: ') }}
        {{ form_errors(form.flatNumber) }}
        {{ form_widget(form.flatNumber, { 'attr': {'class': 'form-control'} }) }}
        <br>
    </div>
    <div class="col-lg-10">
        {% block submit %}
            {{ form_widget(form.submit, { 'label': 'Create new Address', 'attr': {'class':'btn btn-success'} }) }}
        {% endblock %}
    </div>
    <br>

    {{ form_end(form) }}



{% endblock %}